NEXT_PUBLIC_APP_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/images
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/images
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/images
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/images

OPEN_ROUTER_API_KEY=
OPEN_ROUTER_IMAGE_MODEL=
NEXT_PUBLIC_USE_OPEN_ROUTER_FOR_IMAGES=

PROMPT_PREFIX=
PROMPT_SUFFIX=
PROMPT_IMAGE_PREFIX=

POLLINATIONS_API_KEY=

TELEGRAM_BOTID=
TELEGRAM_CHATID=
